<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#home">//Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#project">//Work</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skill">//Skill</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#certificado">//Certificate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#footer">//Contact</a>
    </li>
        
</ul>

  