<div class="contenedor">

<div class="skill">
    <h2>Skills</h2>
</div>

<div class="contenedorImg">
   
    <ul>
        <a>
            <img class="icono" src="/assets/IconImg/html.png" alt="html">
        </a>
        <a>
            <img class="icono" src="/assets/IconImg/css-3.png" alt="css">
        </a>
        <a>
            <img class="icono" src="/assets/IconImg/TypeScript.png" alt="TypeScript">
        </a>
        <a>
            <img class="icono" src="/assets/IconImg/angular-icon.svg" alt="angular">
        </a>
        <a>
            <img class="icono" src="/assets/IconImg/java.png" alt="java">
        </a>
        <a>
            <img class="icono" src="/assets/IconImg/spring-boot-ok.png" alt="spring">
        </a>
        <a>
            <img class="icono" src="/assets/IconImg/figma.png" alt="figma">
        </a>
    </ul>
</div>
<div class="fondo">
    <img class="fondoCode" src="/assets/img/fondoCode.webp" alt="">
</div>
</div>
