<div class="titulo">
  <h2>Project</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <a href="https://trailers-maverick.netlify.app" target="_blank" rel="noopener noreferrer">
      <div class="card">
        <img src="/assets/img/trailers.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trailer de películas</h5>
          <div style="display: flex; align-items: center;">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Icon" style="width: 30px; height: 30px;">
          </div>        
        </div>
      </div>
    </a>
  </div>
  
  <div class="col">
    <a href="https://parrilla-electrica.web.app/">
    <div class="card">
      <img src="/assets/img/parrila-electrica.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Parrilla Eléctrica</h5>
        <div style="display: flex; align-items: center;">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Icon" style="width: 30px; height: 30px;">
        </div>
      </div>
    </div>
  </a>
  </div>

  <div class="col">
    <a href="https://ecommerce-maverick.netlify.app">
      <div class="card">
        <img src="/assets/img/ecommerce.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mini Ecommerce</h5>
          <div class="tech-icons" style="display: flex; align-items: center; gap: 10px;">
            <div style="display: flex; align-items: center;">
              <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Icon" style="width: 30px; height: 30px;">
            </div>
            <div style="display: flex; align-items: center;">
              <img src="/assets/IconImg/net.png" alt="Spring Boot Icon" style="width: 30px; height: 30px;">
            </div>
            <div style="display: flex; align-items: center;">
              <img src="/assets/IconImg/servidor-sql.png" alt="MySQL Workbench Icon" style="width: 30px; height: 30px;">
            </div>
          </div>
        </div>
      </div>
    </a>
</div>

  

  <div class="col">
    <a href="https://www.figma.com/proto/Rf2XwR291XgcBsxzbs3ZCe/FIGMA_TAREA?type=design&node-id=1-2&t=xzUTXLIwryaDqvjT-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=21%3A132&mode=design">
    <div class="card">
      <img src="/assets/img/figma-tienda.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diseño de app para Tienda</h5>
        <div class="figma-icon">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg" alt="Figma Icon" style="width: 30px; height: 30px;">
        </div>      
      </div>
    </div>
  </a>
  </div>

  <div class="col">
    <a href="https://www.figma.com/proto/sdOkZkDqUHhy6vOU3E0Hvz/Proyecto-UX-(Copy)?type=design&node-id=28-17&t=9UVMkhQMIjvtIRI2-1&scaling=scale-down&page-id=0%3A1&mode=design" target="_blank" rel="noopener noreferrer">
      <div class="card">
        <img src="/assets/img/app-VetCuidados.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diseño de app para Animales</h5>
          <div class="figma-icon">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg" alt="Figma Icon" style="width: 30px; height: 30px;">
          </div>
        </div>
      </div>
    </a>
  </div>
  
</div>

