.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en la primera fila */
    gap: 20px; /* Espacio entre las tarjetas */
    margin: 0 auto; /* Centra el grid */
    
}

.col {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card {
    overflow: hidden;
    border-radius: 10px;
    background: #201F23;
    color: white;
    width: 60vh; /* Tarjetas ocupan todo el ancho de la columna */

}

.titulo {
    position: relative;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}

h2 {
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 30px;

}

.card-img-top {
    transition: transform 0.5s;
    border: none;
    width: 100%; /* La imagen ocupará el ancho de la tarjeta */
    height: 220px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen mantenga su aspecto y llene el espacio */

    
    /* Ajusta el tamaño máximo de la imagen al contenedor */
}

.card:hover .card-img-top {
    transform: scale(1.05);
}


.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  