<div class="titulo">
  <h2>Project</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <a href="https://trailers-e932c.web.app/inicio" target="_blank" rel="noopener noreferrer">
      <div class="card">
        <img src="/assets/img/trailers.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </a>
  </div>
  
  <div class="col">
    <div class="card">
      <img src="/assets/img/parrila-electrica.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/CRUD.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <a href="https://www.figma.com/proto/Rf2XwR291XgcBsxzbs3ZCe/FIGMA_TAREA?type=design&node-id=1-2&t=xzUTXLIwryaDqvjT-1&scaling=scale-down&page-id=0%3A1&starting-point-node-id=21%3A132&mode=design">
    <div class="card">
      <img src="/assets/img/figma-tienda.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </a>
  </div>
  <div class="col">
    <a href="https://www.figma.com/proto/sdOkZkDqUHhy6vOU3E0Hvz/Proyecto-UX-(Copy)?type=design&node-id=28-17&t=9UVMkhQMIjvtIRI2-1&scaling=scale-down&page-id=0%3A1&mode=design" target="_blank" rel="noopener noreferrer">
      <div class="card">
      <img src="/assets/img/app-VetCuidados.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    </a>
  </div>
</div>
